.arrow-link {
    display: inline-block;
    color: #d4a7ff;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
}

.arrow-link:hover {
    opacity: 1;
    transform: translateY(4px);
}

.arrow-link svg {
    stroke: #d4a7ff;
}

/* ----------------------------------------------- */
.back-arrow {
    display: inline-block;
    color: #6a11cb;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
}

.back-arrow:hover {
    opacity: 1;
    transform: translateY(-4px);
}

.back-arrow svg {
    stroke: #6a11cb;
}